train.zip
validation.zip
.ipynb_checkpoints/
*.log
*.bin
*.h5
/logs/
/weights/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so
env/
venv/
*.venv
Dockerfile
.dockerignore
*.dockerfile
.docker/
.aws/
.aws-sam/
unzipped/
